* {
    font-family: test;
}

body {
    background-color: red;
}

.content {
    margin-left: 15%;
    width: 70%
}

.finished {
    padding-bottom: 80px;
}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
}

.intro {
    margin-top: 400px;
    width: 40%;
    text-align: left;
    position: relative;
}

.projects {
    margin-top: 300px;
}

.projects1 {
    padding: 10px;
    background-color: grey;
}

.projects_title {
    padding-bottom: 20px;
}

.topnav {
    position: fixed;
    margin-left: 15%;
    width: 70%;
    overflow: hidden;
    z-index: 1;
    background-color: white;
}

@font-face {
    font-family: test;
    src: url("../assets/fonts/Nunito-SemiBold.ttf")
}