<div class="topnav">
  <app-topnav></app-topnav>
</div>
<div class="content">
  <div style="overflow: auto;">
    <div class="intro">
      <app-intro></app-intro>
    </div>
  
  </div>
  <div class="projects">
    <div class="finished">
      <h1 class="projects_title">Finished Projects</h1>
      <div class="grid">
        <div *ngFor="let project of finished" class="projects_button" (click)="openDialog();">
          <div class="text-center">
            <h2 class="projects_margin">{{projects[project].title}}</h2>
            <div class="languages" *ngFor="let lang of projects[project].languages">
                <img src="../../assets/images/{{lang}}.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="unfinished">
      <h1 class="projects_title">Upcoming Projects</h1>
      <div class="grid">
        <div *ngFor="let project of unfinished" class="projects_button" (click)="openModal(project);">
          <div class="text-center">
            <h2 class="projects_margin">{{projects[project].title}}</h2>
            <div class="languages" *ngFor="let lang of projects[project].languages">
                <img src="../../assets/images/{{lang}}.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div> -->
    <!-- <app-modal></app-modal> -->
  <!-- </div> -->
  <button (click)="openDialog()">Test</button>
  <div style="margin-top: 100px;">

  </div>
</div>
