<div class="topnav">
  <app-topnav></app-topnav>
</div>
<div class="content">
  <div style="overflow: auto;">
    <div class="intro">
      <app-intro></app-intro>
    </div>
  
  </div>
  <div class="projects">
    <div class="finished">
      <h1 class="projects_title">Finished Projects</h1>
      <div class="grid">
        <div *ngFor="let project of finished" class="projects1">
          <app-project [project]="project"></app-project>
        </div>
      </div>
    </div>
    <div class="unfinished">
      <h1 class="projects_title">Upcoming Projects</h1>
      <div class="grid">
        <div *ngFor="let project of unfinished" class="projects1">
          <app-project [project]="project"></app-project>
        </div>
      </div>
    </div>
  </div>
</div>
