.content {
    margin-left: 15%;
    width: 70%
}

.finished {
    padding-bottom: 130px;
}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    row-gap: 20%;
}

.intro {
    margin-top: 150px;
    width: 40%;
    text-align: left;
    position: relative;
}

.languages {
    display: inline-block;
}

.projects {
    margin-top: 250px;
}

.projects_margin {
    margin-top: 30px;
    margin-bottom: 2px;
}

.projects_button {
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
}

.projects_title {
    padding-bottom: 20px;
}

.text-center {
    text-align: center;
}