a:link {
    text-decoration: none;
    color: black
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: red;
}

.desc {
    margin-top: 0px;
    margin-bottom: 5px;
}

h2 {
    margin-bottom: 0px;
}

.link {
    margin-right:20px;
}

.links {
    float: left;
}

svg:hover {
    fill: red;
}

.nav {
    margin-left: 20px;
}

.navs {
    float: right;
    /* display: inline-block; */
}